<p-dialog
  header="New Account"
  [modal]="true"
  [(visible)]="dialogVisible"
  (onHide)="onCancel()"
>
  <form [formGroup]="form">
    <table class="w-full">
      <tr>
        <td>Name:</td>
        <td>
          <input
            [style]="{ width: '20rem' }"
            type="text"
            pInputText
            formControlName="name"
          />
        </td>
      </tr>
      <tr>
        <td>Currency:</td>
        <td>
          <app-currency-dropdown
            (onCurrencyChange)="onCurrencySelect($event)"
            [style]="{ width: '100%' }"
          ></app-currency-dropdown>
        </td>
      </tr>
      <tr>
        <td>Balance:</td>
        <td>
          <p-inputNumber
            [inputStyle]="{ width: '20rem' }"
            minFractionDigits="2"
            [suffix]="getSuffix()"
            formControlName="balance"
          />
        </td>
      </tr>
    </table>
    <div class="flex justify-content-end gap-3 pr-3 pt-5">
      <p-button
        label="Cancel"
        [text]="true"
        severity="secondary"
        (onClick)="onCancel()"
      />
      <p-button
        type="submit"
        label="Create Account"
        [outlined]="true"
        [rounded]="true"
        (onClick)="onSubmitForm()"
      />
    </div>
  </form>
</p-dialog>
