@import "primeng/resources/themes/luna-amber/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.padding-x {
  padding-left: 25rem;
  padding-right: 25rem;
}

@media (max-width: 1649px) {
  .padding-x {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

@media (max-width: 1199px) {
  .padding-x {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
