<div class="header flex flex-row align-content-center justify-content-between w-full py-2 border-bottom-3 border-primary">
    <div class="text-5xl font-bold text-primary">My Budget</div>

    <ul
      class="list-none select-none p-0 m-0 flex flex-column xl:flex-row xl:gap-2"
    >
    @for (item of items; track $index) {
      <li class="xl:flex xl:align-items-end">
        <a
          pRipple
          class="hoverable no-underline p-ripple p-element xl:border-round-top-lg flex align-items-center h-3rem px-4 font-medium cursor-pointer transition-colors transition-duration-1500"
          routerLinkActive="surface-0 text-900 fadeindown"
          routerLink={{item.routerLink}}
          ><i class="{{item.icon}} pr-2"></i><span>{{item.label}}</span></a
        >
      </li>
    }
    </ul>
</div>