<div
  class="px-2 py-4 flex flex-row justify-content-between align-items-center border-bottom-1 border-primary"
>
  <div class="flex flex-column gap-1">
    <div class="text-2xl">{{ transaction?.description }}</div>
    <div class="text-xl">{{ transaction?.account?.name }}</div>
  </div>
  <div class="flex flex-column gap-1">
    @if (transaction?.currency === userContext.defaultCurrency) {
    <div class="text-2xl">
      {{ transaction?.amount?.toFixed(2) }}
      {{ transaction?.currency?.toUpperCase() }}
    </div>
    } @else {
    <div class="text-2xl text-right">
      {{ exchangedValue?.toFixed(2) }}
      {{ userContext.defaultCurrency.toUpperCase() }}
    </div>
    <div class="text-xl text-right">
      {{ transaction?.amount?.toFixed(2) }}
      {{ transaction?.currency?.toUpperCase() }}
    </div>
    }
  </div>
</div>
