<div class="padding-x-adjusted flex flex-row w-full">
  <div class="flex flex-column flex-grow-1">
    @for(transaction of transactions; track transaction.id) {
    <app-single-transaction
      [transaction]="transaction"
    ></app-single-transaction>
    } @if (transactions.length === 0) {
    <div class="text-3xl text-primary font-bold">No transactions found.</div>
    }
  </div>
  <div class="dropdown">
    <p-dropdown
      [options]="accounts"
      placeholder="All Accounts"
      [editable]="true"
      optionLabel="name"
      optionValue="id"
      (onChange)="onAccountSelect($event)"
    ></p-dropdown>
  </div>
</div>
