<div class="padding-x">
  <div
    class="px-2 py-4 flex flex-row justify-content-between align-items-center border-bottom-1 border-primary"
  >
    <div class="text-2xl">Default Currency</div>
    <div>
      <app-currency-dropdown
        (onCurrencyChange)="onCurrencyChange($event)"
        [selectedCurrency]="userContext.defaultCurrency"
        [optionLabel]="'value'"
        [style]="{
          width: '7rem',
          border: 'none',
          boxShadow: 'none',
        }"
      ></app-currency-dropdown>
    </div>
  </div>
  <div class="px-2 py-4 flex align-items-center border-bottom-1 border-primary">
    <a
      pRipple
      class="text-2xl hoverable no-underline cursor-pointer"
      (click)="confirmDelete($event)"
    >
      Delete All Data</a
    >
    <p-confirmPopup />
  </div>
  <div
    class="px-2 py-4 flex flex-row justify-content-between align-items-center"
  >
    <div class="text-2xl">Exchange rate updated</div>
    <div class="text-2xl">{{ userContext.exchangeRateDateUpdate }}</div>
  </div>
</div>
